The CatBoost model successfully deployed. Lets test the web service and get the model's scoring

# SET UP

In [19]:
### Import packages
from azureml.core import Workspace, Dataset, Environment, Model
from azureml.core.webservice import AciWebservice
import json

In [20]:
### Set up workspace
ws = Workspace.from_config()

In [23]:
### Retrieve web service
aci_service = AciWebservice(ws, "heart-disease-scoring")
print(aci_service.state)

Healthy

# TEST WEB SERVICE

In [24]:
### Load dataset
hd_ds = Dataset.get_by_name(ws, "heart_disease_data")
hd_df = hd_ds.to_pandas_dataframe()
hd_df.head()

,63.0,1.0,1.0_1,145.0,233.0,1.0_2,2.0,150.0,0.0,2.3,3.0,0.0_3,6.0,0
0,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
1,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
2,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
3,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
4,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0

In [25]:
### Create "new" records
record1 = list(hd_df.iloc[1, :-1]) # heart disease presence
record2 = list(hd_df.iloc[2, :-1]) # heart disease absence
X_new = [record1, record2]

In [26]:
### Transform the data into JSON
json_data = json.dumps({"data": X_new})

In [27]:
### Pass JSON and retrieve the model's scoring
response = aci_service.run(input_data = json_data)
print(response)

[1, 0]